fastapi==0.68.1
fastapi_utils==0.2.1
jose==1.0.0
passlib==1.7.4
pydantic==1.9.0
python_jose==3.3.0
requests==2.27.1
SQLAlchemy==1.4.23
certifi==2021.10.8
pytz==2022.1
six==1.16.0
sqlparse==0.4.2
starlette==0.14.2
uvicorn==0.15.0
python-multipart==0.0.5